/*
 * Defines the pipeline inputs parameters (giving a default value for each for them)
 * Each of the following parameters can be specified as command line options
 */
params.query = "$baseDir/data/sample?.fa"
params.db = "$baseDir/data/blast-db/tiny"
params.outdir = "$baseDir/data/output"

process.container = 'ncbi/blast'
docker.enabled = true